.wrapper {
	.logo {
		position: fixed;
		width: 100vw;
		display: flex;
		justify-content: center;
		top: 20px;
		z-index: 150;
		
		svg {
			height: 80px;
		}
	}
	
	main {
		.header {
			display: flex;
			justify-content: center;
			padding: 240px 5vw;
			
			background: url('../public/AboutHeroBG.png');
			background-size: cover;
			background-position: bottom;
			
			@media only screen and (max-width: 800px) {
				padding: 200px 5vw;
			}
			
			h1 {
				max-width: 800px;
				text-align: center;
				color: #4A347C;
				font-weight: 500;
				
				span {
					font-weight: 700;
					color: #4A347C;
				}
			}
		}
		
		.ourStory {
			background-color: #4A347C;
			padding: 40px 0;
			
			@media only screen and (max-width: 800px) {
				padding-bottom: 100px;
			}
			
			.container {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
			
			.ourStoryImage {
				transform: scale(1.25) translate(-12.5%, -20%);
				
				@media only screen and (max-width: 800px) {
					transform: scale(1.20) translate(-12.5%, -15%)
				}
			}
			
			.ourStoryText {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				gap: 12px;
			}
			
			span, h3, p {
				margin: 0;
				color: white;
			}
			
			span {
				padding: 10px 16px;
				border-radius: 6px;
				background: #653EBF;
				color: white;
				text-transform: uppercase;
				line-height: 100%;
				letter-spacing: 0.06em;
				font-size: 13px;
			}
			
			h3 {
				font-weight: 500;
				font-size: 30px;
			}
			
			p {
				font-size: 18px;
			}
		}
		
		.impact {
			justify-content: flex-end;
			padding: 100px 0 300px calc((100vw - 1400px)/2);
			margin: 0 auto;
			display: grid;
			grid-template-columns: 2fr 3fr;
			gap: 24px;
			
			@media only screen and (max-width: 1400px) {
				padding: 100px 0 300px 10vw;
			}
			
			@media only screen and (max-width: 800px) {
				display: flex;
				flex-direction: column-reverse;
				padding: 100px 0 100px 10vw;
			}
			
			@media only screen and (max-width: 640px) {
				padding: 100px 0 100px 5vw;
			}
			
			.impactText {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				
				@media only screen and (max-width: 800px) {
					padding-right: 10vw;
				}
				
				@media only screen and (max-width: 640px) {
					padding-right: 5vw;
				}
				
				h2, span, p {
					margin: 0;
				}
				
				h2 {
					font-family: neue-haas-grotesk-text;
					font-style: normal;
					font-weight: 400;
					font-size: 30px;
					margin-bottom: 6px;
				}
				
				span {
					text-transform: uppercase;
					letter-spacing: 0.06em;
					margin-bottom: 20px;
				}
				
				p {
					font-size: 16px;
					line-height: 27px;
				}
			}
			
			.impactImage {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}
		
		.video {
			background: #4A347C;
			
			.videoHolder {
				border-radius: 20px;
				overflow: hidden;
				border: 3px solid rgba(101, 62, 191, 1);
			}
			
			.videoOffset {
				position: relative;
				top: -8vw;
			}
			
			iframe {
				width: 100%;
			}
			
			p {
				color: white;
				font-weight: 700;
				padding: 20px 0 0z;
				text-align: center;
			}
		}
		
		.team {
			padding: 60px 0 100px;
			text-align: center;
			
			h2 {
				font-size: 30px;
				font-weight: 400;
				margin: 0;
				margin-bottom: 40px;
			}
			
			.teamPhotos {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 20px;
				
				@media only screen and (max-width: 640px) {
					display: flex;
					flex-direction: column;
				}
			}
			
			h4 {
				margin: 6px 0 0;
				font-weight: 500;
			}
		}
		
		.documentation {
			background: #4A347C;
			padding: 12px 0;
			
			@media only screen and (max-width: 1000px) {
				padding: 48px 0;
			}
			
			@media only screen and (max-width: 720px) {
				padding: 100px 0;
			}
			
			a {
				text-decoration: underline;
				color: #4DB892;
				font-weight: bold;
			}
			
			.documentationText {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				gap: 12px;
			}
			
			span, h3, p {
				margin: 0;
				color: white;
			}
			
			span {
				padding: 10px 16px;
				border-radius: 6px;
				background: #653EBF;
				color: white;
				text-transform: uppercase;
				line-height: 100%;
				letter-spacing: 0.06em;
				font-size: 13px;
			}
			
			h3 {
				font-weight: 500;
				font-size: 30px;
			}
			
			p {
				font-size: 18px;
			}
		}
		
		.preorder {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 48px;
			text-align: center;
			padding: 60px 0 0;
			
			.preorderText {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 12px;
				
				h2, p {
					margin: 0;
				}
				
				h2 {
					font-size: 30px;
					font-weight: 400;
				}
				
				p {
					font-size: 18px;
				}
			}
			
			p {
				padding: 0 5vw;
				max-width: 1200px;
			}
			
			.preorderCase {
				margin-bottom: -10px;
			}
		}
	}
}