.footer {
	position: relative;
	z-index: 750;
	// margin-top: 40px;
	padding: 80px 0;
	background: #4A347C;
	color: #FFFBF8;
	
	.logo {
		height: 100px;
	}
	
	.footerContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		
		@media only screen and (max-width: 1000px) {
			flex-direction: column-reverse;
			gap: 40px;
		}
		
		p {
			color: white;
		}
		
		.footerBrand {
			display: flex;
			flex-direction: row;
			gap: 36px;
			align-items: center;
			
			p {
				margin: 0;
			}
			
			.copyright {
				margin-top: 6px;
				color: #DBD6E5 !important; 
			}
		}
		
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0;
			margin: 0;
			gap: 36px;
			
			@media only screen and (max-width: 720px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 20px;
				justify-content: center;
			}
			
			a {
				border-radius: 6px;
				display: flex;
				justify-content: center;
			}
			
			li {
				color: white;
				list-style: none;
				
				svg {
					margin-left: 4px;
				}
			}
		}
	}
}