.wrapper {
	.mobileLogoGradient {
		display: none;
		
		@media only screen and (max-width: 540px) {
			display: block;
			position: fixed;
			top: 0;
			z-index: 400;
			height: 120px;
			width: 100%;
			background: linear-gradient(to bottom, rgba(255,251,248, 1) 50%, rgba(255,251,248, 0) 100%);
		}
	}
	
	main {
		.heroLogo {
			position: sticky;
			z-index: 500;
			top: 20px;
			display: flex;
			justify-content: center;
			margin: 140px auto 20px;
			max-width: 120px;
		}
		
		.hero {
			position: relative;
			// padding-top: calc(120px + 10vh);
			
			.heroCopy {
				max-width: 800px;
				width: 80vw;
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				gap: 12px;
				
				h1, p {
					margin: 0;
				}
				
				p {
					max-width: 600px;
				}
			}
			
			.flatRender {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
		
		.features {
			
			h2 { 
				text-align: center;
				margin: 0;
				font-size: 44px;
				color: #C74DAC;
			}
			
			.featureSection {
				display: flex;
				flex-direction: column;
				gap: 100px;
			}
			
			.featureGrid {
				display: grid;
				
				@media only screen and (max-width: 540px) {
					display: flex;
					flex-direction: column;
					height: 100%;
					gap: 40px;
				}
				
				.featureText, .featureImage {
					align-self: center
				}
				
				.featureText {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					
					
					span, h3, p {
						margin: 0;
					}
					
					span {
						padding: 10px 16px;
						border-radius: 6px;
						background: #653EBF;
						color: white;
						margin-bottom: 12px;
						font-family: lexia-mono, serif;
						text-transform: uppercase;
						line-height: 100%
					}
					
					h3 {
						font-size: 36px;
						color: #E0674D;
						margin-bottom: 16px;
					}
					
					p {
						font-size: 18px;
					}
				}
			}
			
			.hardware {
				margin-top: 60px;
				
				.featureGrid {
					&:nth-child(even) {
						grid-template-columns: 2fr 3fr;
						
						.featureImage {
							order: 2;
							
							@media only screen and (max-width: 540px) {
								order: 1;
							}
						}
						
						.featureText {
							order: 1;
							
							@media only screen and (max-width: 540px) {
								order: 2;
							}
						}
					}
					
					&:nth-child(odd) {
						grid-template-columns: 3fr 2fr;
						
						
						.featureImage {
							order: 1;
						}
						
						.featureText {
							order: 2;
						}
					}
				}
			}
			
			.software {
				margin-top: 100px;
				
				.featureGrid {
					&:nth-child(odd) {
						grid-template-columns: 2fr 3fr;
						
						.featureImage {
							order: 2;
							
							@media only screen and (max-width: 540px) {
								order: 1;
							}
						}
						
						.featureText {
							order: 1;
							
							@media only screen and (max-width: 540px) {
								order: 2;
							}
						}
					}
					
					&:nth-child(even) {
						grid-template-columns: 3fr 2fr;
						
						.featureImage {
							order: 1
						}
						
						.featureText {
							order: 2
						}
					}
				}
			}
		}
	}
}
