.wrapper {
	.mobileLogoGradient {
		display: none;
		
		@media only screen and (max-width: 540px) {
			display: block;
			position: fixed;
			top: 0;
			z-index: 400;
			height: 120px;
			width: 100%;
			background: linear-gradient(to bottom, rgba(255,251,248, 1) 50%, rgba(255,251,248, 0) 100%);
		}
	}
	
	main {
		.heroLogo {
			position: sticky;
			z-index: 550;
			top: 20px;
			display: flex;
			justify-content: center;
			margin: 140px auto 20px;
			max-width: 120px;
		}
		
		.softwareHeader {
			position: relative;
			top: -160px;
			margin-bottom: -160px;
			z-index: 10;
			background: #4A347C;
			color: white;
			padding: 200px 0 40px;
			
			h2, p {
				color: white;
				max-width: 800px;
			}
			
			h2 {
				font-size: 30px;
				margin: 0 0 12px;
			}
			
			p {
				margin: 0 0 24px;
				font-size: 18px;
			}
			
			span  {
				color: #ddd;
			}
		}
		
		.hero {
			position: relative;
			// padding-top: calc(120px + 10vh);
			
			.heroContent {
				max-width: 1000px;
				width: 90vw;
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;
				align-items: center;
				margin: 0 auto;
				gap: 36px;
				
				.heroCopy {
					display: flex;
					flex-direction: column;
					text-align: center;
					gap: 12px;
				}
				
				h1, p {
					margin: 0;
				}
				
				h1 {
					color: #653EBF;
					font-size: 30px;
				}
				
				p {
					max-width: 720px;
					font-size: 18px;
					
					b {
						font-weight: bold;
					}
				}
			}
			
			.heroImage {
				padding-top: 50px;
				width: 60vw;
				margin: 0 auto;
				display: flex;
				justify-content: center;
			}
		}
		
		.softwareFeatures {
			display: grid;
			grid-template-columns: 3fr 2fr;
			gap: 20px;
			position: relative;
			
			.softwareHolder {
				height: 1000px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: sticky;
				top: 0;
				
				.placeholderImage {
					opacity: 0;
					flex-shrink: 0;
				}
				
				&:before, &:after {
					content: '';
					background: #FFFBF8;
					height: 270px;
					width: 100%;
					z-index: 190;
					flex-shrink: 1;
				}
				
				
				.staticCase {
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 1000px;
					position: absolute;
					z-index: 200;
				}
				
				.testUIScroll {
					position: absolute;
					top: 0;
					height: 1000px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					
					img {
						height: 100%;
					}
					
				}
				
				.testUIScroll1 {
					top: 0;
				}
				
				// .testUIScroll2 {
				// 	transform: translateY(200px);
				// }
			}
			
			.softwarePillar {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				height: 1000px;
				gap: 18px;
				padding-left: 24px;
				
				.pillarHeader {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 12px;
				}
				
				span, h3, p {
					margin: 0;
				}
				
				span {
					padding: 10px 16px;
					border-radius: 6px;
					background: #653EBF;
					color: white;
					text-transform: uppercase;
					line-height: 100%;
					letter-spacing: 0.06em;
					font-size: 13px;
				}
				
				h3 {
					font-weight: 500;
					font-size: 30px;
					color: #933478;
				}
				
				p {
					
				}
			}
		}
		
		.features {
			position: relative;
			z-index: 10;
			
			
			.featureSection {
				display: flex;
				flex-direction: column;
				gap: 72px;
				position: relative;
				top: -360px;
				margin-bottom: -360px;
			}
			
			.modularAccessories {
				display: grid;
				grid-template-columns: 2fr 3fr;
				gap: 40px;
				padding: 0 10vw;
				
				.featureText, .featureImage {
					align-self: center
				}
				
				.featureText {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					
					
					span, h3, p {
						margin: 0;
					}
					
					span {
						padding: 10px 16px;
						border-radius: 6px;
						background: #653EBF;
						color: white;
						margin-bottom: 12px;
						text-transform: uppercase;
						line-height: 100%;
						letter-spacing: 0.06em;
						font-size: 13px;
					}
					
					h3 {
						font-size: 36px;
						color: #E0674D;
						margin-bottom: 16px;
					}
					
					p {
						font-size: 18px;
					}
				}
			}
			
			.featureGrid {
				display: grid;
				gap: 40px;
				
				@media only screen and (max-width: 540px) {
					display: flex;
					flex-direction: column;
					height: 100%;
					gap: 40px;
				}
				
				.featureText, .featureImage {
					align-self: center
				}
				
				.featureText {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					
					
					span, h3, p {
						margin: 0;
					}
					
					span {
						padding: 10px 16px;
						border-radius: 6px;
						background: #653EBF;
						color: white;
						margin-bottom: 12px;
						text-transform: uppercase;
						line-height: 100%;
						letter-spacing: 0.06em;
						font-size: 13px;
					}
					
					h3 {
						font-size: 36px;
						color: #E0674D;
						margin-bottom: 16px;
					}
					
					p {
						font-size: 18px;
					}
				}
			}
			
			.printerImage {
				padding: 100px 0 100px 10vw;
			}
			
			.keyboardImage {
				// margin-top: -80px;
				padding-right: 35vw; 
			}
			
			.hardware {
				position: relative;
				z-index: 20;
				
				.hardwareHeader {
					background: #4A347C;
					color: white;
					padding: 120px 0 120px;
					
					.twoColumn {
						display: grid;
						grid-template-columns: 3fr 2fr;	
						gap: 40px;
					}
					
					.hardwareTitle {
						padding-left: 10vw;
					}
					
					.paragraphs {
						padding-right: 10vw;
					}
					
					h2, p, span {
						color: white;
						margin: 0;
					}
					
					h2 {
						font-family: 'Neue Haas Grotesk Text Pro';
						font-style: normal;
						font-weight: 400;
						font-size: 30px;
					}
					
					span {
						text-transform: uppercase;
						letter-spacing: 0.06em;
					}
					
					p {
						font-size: 18px;
						line-height: 30px;
					}
					
					.paragraphs {
						display: flex;
						flex-direction: column;
						gap: 48px;
					}
				}
				
				.featureGrid {
					&:nth-child(1) {
						.featureText {
							padding-top: 96px;
						}
					}
					
					&:nth-child(even) {
						grid-template-columns: 2fr 3fr;
						
						.featureImage {
							order: 2;
							
							@media only screen and (max-width: 540px) {
								order: 1;
							}
						}
						
						.featureText {
							order: 1;
							padding-left: 10vw;
							
							@media only screen and (max-width: 540px) {
								order: 2;
							}
						}
					}
					
					&:nth-child(odd) {
						grid-template-columns: 3fr 2fr;
						
						
						.featureImage {
							order: 1;
						}
						
						.featureText {
							order: 2;
							padding-right: 10vw;
						}
					}
				}
			}
			
			.software {
				// margin-top: 100px;
				
				.featureGrid {
					&:nth-child(odd) {
						grid-template-columns: 2fr 3fr;
						
						.featureImage {
							order: 2;
							
							@media only screen and (max-width: 540px) {
								order: 1;
							}
						}
						
						.featureText {
							order: 1;
							
							@media only screen and (max-width: 540px) {
								order: 2;
							}
						}
					}
					
					&:nth-child(even) {
						grid-template-columns: 3fr 2fr;
						
						.featureImage {
							order: 1
						}
						
						.featureText {
							order: 2
						}
					}
				}
			}
		}
	}
}
