.wrapper {
	.logo {
		position: fixed;
		width: 100vw;
		display: flex;
		justify-content: center;
		top: 20px;
		z-index: 150;
		
		svg {
			height: 80px;
		}
	}
	
	main {
		.preorderHero {
			background: url('../public/preorderHeroBG.png');
			height: 600px;
			background-size: cover;
			background-position: center bottom;
			border-radius: 0 0 20px 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 20%;
		}
		
		.preorderSale {
			display: flex;
			flex-direction: column;
			gap: 64px;
			margin-top: 64px;
			margin-bottom: 64px;
			
			.baseKit {
				border-radius: 20px;
				border: 1px solid #BEBBC4;
				display: grid;
				grid-template-columns: 3fr 2fr;
				height: 500px;
				background: rgba(253, 253, 253, 1);
			}
			
			.threeColumns {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 32px;
				
				.accessory {
					border-radius: 20px;
					
					.accessoryText {
						display: flex;
						flex-direction: column;
						gap: 8px;
						padding: 24px 24px 32px;
						
						h4, p {
							margin: 0;
						}
						
						h4 {
							letter-spacing: 0.1em;
							text-transform: uppercase;
							font-weight: 500;
							font-size: 18px;
						}
						
						p {
							font-size: 18px;
							font-weight: bold;
							color: #47444E;
						}
					}
					
					.imageHolder {
						border-radius: 20px;
						border: 1px solid #BEBBC4;
						height: 300px;
						background: rgba(253, 253, 253, 1);
					}
					
					&:nth-child(1) {
						background: #DED9F5;
						
						.accessoryText h4 {
							color: #4A347C;
						}
					}
					
					&:nth-child(2) {
						background:#F5DBD3;
						
						.accessoryText h4 {
							color: #E0674D;
						}
					}
					
					&:nth-child(3) {
						background: #F5D3E8;
						
						.accessoryText h4 {
							color: #933478;
						}
					}
				}
			}
		}
	}
}
